<%- errorMessagesFor(rating) %>
<div class="control-group">
   <%- form.label("puzzle_id", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("puzzle_id") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("value", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("value") %>
   </div>
</div>
